Que1: what is a database? difference between SQL and NOSQL databases.

Ans: A database is an organized collection of structured information , or data, typically stored electronically in a computer system . a database is usually controlled by a database management system

SQL is the programming language used to interface with relational databases. (Relational databases model data as records in rows and tables with logical links between them). NOSQL is a class of DBMs that are non-relational and generally do not use SQL.

Que2: what is DDL? explain why CREATE, DROP , ALTER , TRUNCATE are used with an example.

Ans: Data definaition Language is a subset of SQL . it is a language for describing data and its relationships in a database.you can generate DDL in a script for database object to:keep a snapshot of the database structure.

CREATE: The CREATE TABLE drop command creates a new table in a database.

DROP TABLE :drop command in sql removes table definition and all the data from one or more database tables

ALTER: the alter table statement is used to add ,delete,or modify columns in an existing table.the alther table statement is also used to add and drop various constraints on an existing table.

TRUNCATE:The trunket table command is used to delete complete data fron an existing table.

Que3: what is DML?explain INSERT, UPDATE ,DELETE with an example

Data Manipulation Language refers to a computer programming language that allows you to add(insert), delete(delete), and alter (update) data in a database. a DML is typically a sublanguage of a larger database language like SQL with the  DML containing some of the languages operators.

INSERT:  the insert command used for inserting one or more rows into a database table with specified table column values.

UPDATE: the update statement changes the data of one or more records in a table

DELETE: delete command is uesd to delete existing records from a table. using this you can either delete specific records based on a condition or all the records from a table

Que 4: what is DQL ? explain SELECT with an ex

ans: Data Query Language is a part of nbase grouping  of SQL sub language .the sublanguage are mainy categorized into four categories: a data query language (DQL), a data control language(DCL),data manipulating language (DML)

SELECT: an select statement retrieves records from a database table according to clauses that specify criteria.

Que 5: explain primary key and foreign key

Ans: A primary key generally focuses on the uniqueness of the table . it assures the value in the specific coloumn is unique. A foreign key is generally used to build a relationship between the two tables.

Que6 : give the order of executing of SQL clauses in an SQL query.

1. FROM 2. WHERE , 3. GROUP By , 4. HAVING , 5. SELECT , 6.ORDER BY, 7.LIMIT

Que 7. write a code program to connect SQL to python. explain the cursor() , execute()method

1.import mysql.connector.
2.#create thr connection object.
3.myconn=mysql.connector.connect(host="localhost",user="root",passwd="google",database="mydb")
4.#printing the connection object.
5. print(myconn)
6.#creating thr cursor object
7.cur=myconn.cursor()
8.print(cur)

cursor():cursor is a datebase object to retrieve data from a result set one row at a time, instead of the T-SQL command that operate an aii the row un the result set at on e time. we use ac cursor when need to update records in a database table in singleton fashion means row by row

Execute(): execute method executes a specific query.sql statement , stored procesure ,or provider specific text